- var hasTasks = !collection.isEmpty()
if searching
  .g-task-list-search-status
    if hasTasks
      i.icon-search
      |  Search results for tasks containing "#{query}"
    else
      i.icon-attention
      |  No tasks matching your search term were found.

if hasTasks
  .panel.panel-default.g-task-list-task-items
    ul.list-group
      each task in collection.models
        - var tags = task.get('meta').itemTaskTags || []
        //a.list-group-item.g-execute-task-link(href=`#item_task/${task.id}/run`)
        li.list-group-item.g-execute-task-link
          h4.list-group-item-heading.g-execute-task-link-header
            a(href=`#item_task/${task.id}/run`)= task.name()
          .list-group-item-text.g-execute-task-link-body= task.get('description')
          if tags
            .g-task-list-item-tag-container
            each tag in tags
              span.label.label-default.g-task-list-item-tag= tag
              | &#x20;
    if collection.hasNextPage()
      .panel-footer.g-task-list-task-items-footer
        a.g-task-list-task-items-next-page
          | See next page &raquo;
    else
      .panel-footer.g-task-list-task-items-footer
        | End of list
else if !searching
  i.icon-attention
  |  No tasks are available.
